@font-face {
	font-family: 'Padrao';
	src: url('font/Cambria-Font-For-Windows.ttf');
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Padrao';
}

body {
	background: url('img/wallpaper.jpg') center no-repeat fixed;
	background-size: cover;
}

.menu {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 15rem;
}

.menu ul {
	margin-top: 5rem;
}

.menu li {
	width: 11.1rem;
	text-align: center;
	list-style: none;
	border-radius: .2rem;
	background-image: linear-gradient(50deg, #D0D0D0, #E1E1E1, #ECECEC);
	transform: rotate(3deg);
	padding: .4rem 0;
	margin: .7rem 1.5rem;
}

.menu span {
	display: block;
	transform: rotate(-3deg);
}

.menu li a {
	font-size: 2rem;
	text-decoration: none;
	color: #070707;
}

.menu li:hover {
	transform: rotate(0deg);
}

.menu img {
	display: block;
	width: 10rem;
	border-radius: 50%;
	margin: 3rem 0 .3rem;
}

.menu p {
	font-size: 1.1rem;
	text-align: center;
	color: #F6F6F6;
	margin-top: .2rem;
}

main {
	display: flex;
	flex-direction: column;
	gap: .3rem;
	width: 55%;
	margin: auto;
}

.sect01 {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.drop {
	display: flex;
  justify-content: center;
	margin-bottom: 4.5rem;
}

.drop p {
	font-size: 5rem;
}

.palavra {
	margin-right: .5rem;
}

.v {
	opacity: 0;
	animation: drop 0.4s linear forwards;
}

.i {
	opacity: 0;
	animation: drop 0.4s linear forwards .2s;
}

.n {
	opacity: 0;
	animation: drop 0.4s linear forwards .4s;
}

.d {
	opacity: 0;
	animation: drop 0.4s linear forwards .6s;
}

.o {
	opacity: 0;
	animation: drop 0.4s linear forwards .8s;
}

.exclamacao {
	opacity: 0;
	animation: drop 0.4s linear forwards .95s;
}

@keyframes drop {
	0% {
		transform: translateY(-200px);
		opacity: 0;
	}
	50% {
		transform: translateY(0px);
		opacity: 1;
	}
	65% {
		transform: translateY(-17px);
		opacity: 1;
	}
	75% {
		transform: translateY(-22px);
		opacity: 1;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

.texto-intro {
	text-align: center;
	margin-bottom: 9rem;
}

.texto-intro p {
	font-size: 1.2rem;
	margin-bottom: .4rem;
}

.arrow {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform: rotate(0deg);
	cursor: pointer;
}

.arrow span {
	display: block;
	width: 1.5vw;
	height: 1.5vw;
	border-bottom: 5px solid #F6F6F6;
	border-right: 5px solid #F6F6F6;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
	animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
	animation-delay: -0.4s;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}

.span-verde {
	color: #19E428;
}

.conteudo1 {
	display: flex;
	align-items: center;
	height: 4rem;
	width: 100%;
	border: 1px solid #191919;
	border-radius: .5rem;
	color: #F6F6F6;
	background-color: #222222;
	padding-left: 1rem;
	margin-top: 2.5rem;
}

.conteudo2 {
	height: 35rem;
	width: 100%;
	border: 1px solid #191919;
	border-radius: .5rem;
	background-color: #222222;
}

.sobre {
	position: relative;
	z-index: -2;
}

.sobre h2 {
	position: absolute;
	top: 25%;
	left: 3%;
	font-size: 20rem;
	z-index: -1;
	color: #1919197a;
}

.sobre p {
	width: 33rem;
	font-size: 1.1rem;
	line-height: 1.5rem;
	color: #F6F6F6;
	margin: 8rem 4.5rem 0;
}

.fundo {
	position: absolute;
	top: 10%;
	left: 1.5%;
	height: 15rem;
	width: 37rem;
	color: transparent;
	background-color: #00000030;
	border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
}

.skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	padding: .5rem;
}

.formacao {
	width: 20rem;
	text-align: center;
}

.sub {
	color: #b2b2b2;
}

.formacao div {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 15rem;
	width: 20rem;
	background-color: #0d0d0dbb;
	margin-top: .5rem;
}

.formacao img {
	display: block;
	width: 15rem;
	border-radius: 1rem;
	background-color: #F6F6F6;
}

.formacao h4, p {
	color: #F6F6F6;
}

.certificados {
	width: 20rem;
	text-align: center;
}

.certificados > div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	height: 15rem;
	width: 20rem;
	background-color: #0d0d0dbb;
	padding: 1rem;
	margin-top: .5rem;
}

.flip-card {
  width: 5rem;
  height: 5rem;
  perspective: 62.5rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
	display: flex;
	align-items: center;
	justify-content: center;
  background-color: #222222;
}

.flip-card-front img {
	width: 4rem;
}

.flip-card-back {
	display: flex;
	align-items: center;
	justify-content: center;
  background-color: #222222;
  color: #F6F6F6;
  transform: rotateY(180deg);
}

.efeito-link {
	width: fit-content;
  background-image: linear-gradient(to right, #19E428, #19E428 50%,#F6F6F6 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.efeito-link:before {
  content: '';
  background: #19E428;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.efeito-link:hover {
  background-position: 0;
}

.efeito-link:hover::before {
  width: 100%;
}

.cursos {
	width: 35rem;
	text-align: center;
}

.div-cursos {
	display: flex;
	justify-content: space-between;
	height: 10rem;
	width: 35rem;
	color: #F6F6F6;
	background-color: #0d0d0dbb;
	padding: 1rem 3.5rem;
	margin-top: .5rem;
}

.div-cursos div {
	width: 12rem;
}

.div-cursos li {
	display: flex;
	justify-content: space-between;
	list-style: none;
	background-color: #222222;
	padding: .2rem;
	margin-bottom: .3rem;
}

.div-cursos h4 {
	color: #F6F6F6;
	margin-bottom: .3rem;
}

.lista-html5 {
	color: #E96228;
}

.lista-css3 {
	color: #2862E9;
}

.lista-javascript {
	color: #E8D44D;
}

.lista-algoritmo {
	color: #FF7400;
}

.projetos {
	display: flex;
  flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
}

.box {
  position: relative;
  height: 12rem;
  width: 17rem;
}

.box:hover .imgBox {
  transform: translate(-2.5rem, -2.5rem);
}

.box:hover .content {
  transform: translate(2.5rem, 2.5rem);
}

.imgBox {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.imgBox img {
  height: 12rem;
  width: 17rem;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
	gap: 2.5rem;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.5s ease-in-out;
  background-color: #0d0d0dbb;
  padding: 1.5rem;
}

.content h2 {
  font-size: 1rem;
  color: #F6F6F6;
	margin-bottom: .275rem;
}

.content a {
  color: #F6F6F6;
}